/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 de mar. de 2023, 22:18:20
    Author     : BEMK
*/

@font-face {
  font-family: 'Mplusrounded1c';
  src: url('../fontes/Mplusrounded1c.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClarityCity.woff';
  src: url('../fontes/ClarityCity.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.topo-telas{
    min-height: 150px;
    background-image: url("../imagens/home/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom-right-radius: 100px;
}

.topo-telas .row{
    min-height: 150px;
}

.titulo-topo{
    font-weight: 900;
    color:#ffffff;
    font-family: 'Mplusrounded1c', sans-serif;
    font-size: 35px;
}
.subtitulo-topo{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color:#ffffff; 
}
/*  Pagina Associadas */
.cards-associadas{
    margin-bottom: 25px;
}
@media only screen and (max-width: 991px) {
    .cards-associadas{
    margin-bottom: 15px;
}
}
.associadas .card{
    border-radius: 30px 30px 30px 0px;
    min-height: 200px;
    box-shadow: 0 0 2px 1px #2467EC2e;
    border:none;
}
@media only screen and (max-width: 991px) {
    .associadas .card{
    border-radius: 15px 15px 15px 0px;
    min-height: 160px;
    box-shadow: 0 0 2px 1px #2467EC2e;
    border:none;
    }
}
.associadas .card img{
    width: 100%;
    max-width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    border-radius: 30px 30px 30px 0px;
    background-color: #ffffff;
}

.associadas .card:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .5s ease;
    border: 1px solid #2467EC2e;
    border-radius: 15px 15px 15px 0px;
}

.nome-associada{
    background-color: #f7f7f7;
    position: absolute;
    bottom: -20px;
    width: 80%;
    left: 10px;
    right: 10px;
    padding: 15px 10px 5px 10px;
    text-align: center;
    width: calc(100% - 20px);
    border-radius: 15px;
    background-color: #e7ebf3;
    color:#050030;
    box-shadow: 0 0 2px 1px #2467EC2e;
}

.card:hover .nome-associada{
    background-color: #2467EC;
    box-shadow: 0 0 2px 1px #2467EC2e;
    color:#ffffff;
}

.nome-associada h5{
    font-size: 18px;
}
@media only screen and (max-width: 991px) {
    .nome-associada h5{
    font-size: 15px;
}
}

/*  Pagina Associadas */

/*  Pagina Servicos */
.nossos-servicos .card{
    border-radius: 60px 60px 60px 0px;
    border:none;
    box-shadow: 0 0 10px rgba(36, 103, 236,.6);
    min-height: 100%;
    
}

.nossos-servicos .card-hover{
    background: #ffffff;
    padding: 20px 20px;
    box-shadow: 0 0 70px rgba(36, 103, 236,.3);
    min-width: 370px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 50%;
    transition: .3s;
    z-index: 11;
border-radius: 60px 60px 60px 0px;
    left: 50%;
    transform: translateX(-50%);
}


.nossos-servicos .card:hover .card-hover{
    visibility: visible;
    opacity: 1;
    min-width: 370px;
    min-height: 100%;
    
}

.nossos-servicos .img-servico{
    background-color: #FFD70F;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    box-shadow: 0 0 4px 2px #2467EC2e;
}

.nossos-servicos .card img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 50px;
    transition: 0.4s;
}

.nossos-servicos .card:hover img{
    left: 10px;
    transition: 0.4s;
}

.nossos-servicos .card-body{
    padding-bottom: 50px;
}
.nossos-servicos .card .btn{
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-weight: bold;
    font-size: 30px;
    color: #2467EC;
}
/*  Pagina Servicos */

/*  Pagina Estatuto */
.btn-download-estatuto{
    text-align: right;
}
@media only screen and (max-width: 991px) {
.btn-download-estatuto{
    text-align: center;
}
}
.paragrafo-estatuto{
    line-height: 2;
    text-align: justify;
}
/*  Pagina Estatuto */

/*  Quem somos */

.titulo-destaque{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.destaque{
    color:#785aa2;
}

@media only screen and (max-width: 1210px) {
    .circulos{
        visibility: hidden;
    }
}
.mvv-mobile{
        visibility: hidden;
    }
@media only screen and (max-width: 1210px) {
    .mvv-mobile{
        visibility: visible;
        margin-top: -250px;
    }
}
.circulos{
    position: relative;
    top:-55%;
    min-height: 250px;
    border-radius: 100%;
}
.circulo-missao, .circulo-visao, .circulo-valores{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.circulo-missao{
    background-color: #2467EC2e;
    position: absolute;
    top:88%;
    left:30%;
}
.circulo-visao{
    background-color: #785aa22e;
    position: absolute;
    top:88%;
    left:48%;
}
.circulo-valores{
    background-color: #FFD70F2e;
    position: absolute;
    top:140%;
    left:39%;
}

.circulo-missao p{
    position: absolute;
    left:-335px;
    width: 320px;
    font-size: 16px;
}

@media only screen and (max-width: 1210px) {
    .circulos, .circulo-visao p, .circulo-valores p, .circulo-valores p{
        visibility: hidden;
        right: 0;
        left: 0;
        width: 0;
    }
}
.circulo-visao p{
    position: absolute;
    right:-330px;
    width: 300px;
    font-size: 16px;
}

.circulo-valores p{
    position: absolute;
    left: 0;
    bottom:-100px;
    width: 300px;
    font-size: 16px;
}

.destacado{
    padding: 30px;
    background-color: #2467EC2e;
    border-radius: 20px;
}

.mvv-missao{
    background-color: #2467EC2e;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    
}

.mvv-visao{
    background-color: #785aa22e;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    
}

.mvv-valores{
    background-color: #FFD70F2e;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    
}
/*  Quem somos */

/*  Parceiros */
.empresas-parceiras .card{
border:none;
border-radius: 30px 30px 30px 0px;
}

@media only screen and (max-width: 991px) {
.empresas-parceiras .card{
border:none;
border-radius: 40px 40px 40px 0px;
min-height: 100%;
text-align: center;
}
}

.empresas-parceiras .card:hover{
box-shadow: 0 0 4px 2px #2467EC;
background-color: #2467EC;
border-radius: 40px 40px 40px 0px;
} 

.empresas-parceiras .card:hover .card-title{
color: #ffffff;
} 

.empresas-parceiras .card-body{
    box-shadow: 0 0 4px 2px #2467EC2e;
border-radius: 40px 40px 40px 0px;
    min-height: 100%;
}
.img-parceiros{
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
}
.titulo-parceiro{
}
/*  Parceiros */

/*  Equipe */
.equipe img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

@media only screen and (max-width: 991px) {
.equipe img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:3px solid #FFD70F;
}
}

.equipe .card{
    background-color: transparent;
    border: none;
}

.equipe .card .btn{
    border-radius: 10px 10px 10px 0px;
    background-color: #0E76A8;
    color:#ffffff;
    font-size: 15px;
}

@media only screen and (max-width: 991px) {
.equipe .card .btn{
    position: absolute;
    border-radius: 50%;
    background-color: #0E76A8;
    color:#ffffff;
    height: 45px;
    width: 45px;
    font-size: 18px;
    border: 3px solid #FFD70F;
    top: 75px;
    left: 75px;
    z-index: 12;
}
}

.equipe .card .btn:hover{
    background-color: #2467EC;
    color:#ffffff;
    border: none;
    box-shadow: 0 0 4px 3px  #785aa2;
    font-size: 15px;
    border-radius: 10px 10px 10px 0px;
}

@media only screen and (max-width: 991px) {
    .equipe .card .btn:hover{
    background-color: #2467EC;
    color:#ffffff;
    border: none;
    box-shadow: 0 0 4px 3px  #785aa2;
    font-size: 20px;
    border-radius: 50%;
    }
}
.nafrente{
    z-index: 5;
}
.nome-cargo{
    margin-top: -40px;
    background-color: #e7ebf3;
    padding: 40px 10px 10px 20px;
    z-index: 1;
    border-radius: 30px 30px 30px 0px;
    border:none;
    box-shadow: 0 0 4px 3px #2467EC2e; 
}
@media only screen and (max-width: 991px) {
.nome-cargo{
    margin-top: 0px;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    z-index: 1;
    border-radius: 30px 30px 30px 0px;
    border:none;
    box-shadow: 0 0 0px 0px transparent; 
}
}

/*  Equipe */

/*  Diretoria Executiva */
.diretoria-executiva .card{
    border: none;
    box-shadow: 0 0 6px 3px  #2467EC2e;
    border-radius: 15px;
    border-radius: 40px 40px 40px 0px;
}
.diretoria-executiva h2, .diretoria-executiva h5{
    padding-left: 10px;
    padding-right: 10px;
}

.diretoria-executiva img{
    max-width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 0px;
}
@media only screen and (max-width: 991px) {
    .diretoria-executiva img{
        width: 100%;
    max-width: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 40px;

}
}

.diretoria-executiva h2{
    padding-top: 10px;
}

.diretoria-executiva ul {
  list-style-image: url("../imagens/icones/flecha.webp");
}
/*  Diretoria Executiva */

/*  Rel Gestão */
.rel-gestao .card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border:none;
    box-shadow: 0 0 8px 3px #2467EC2e;
   border-radius: 40px 40px 40px 0px;
}
.rel-gestao .card:hover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border:none;
    box-shadow: 0 0 20px 5px #785aa240;
    border-radius: 40px 40px 40px 0px;
}
.rel-gestao .card img{
     -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.rel-gestao .card:hover img{
-webkit-transform: scale(1.1);
    transform: scale(1.1);
     -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.rel-gestao .card-footer{
    z-index: 11;
    background-color: #e7ebf3;
    color:#050030;
    border:none;
    border-bottom-left-radius: 0;
}
.rel-gestao a{
text-decoration: none;
}
/*  Rel Gestão */

/* Noticias */

.todas-noticias a{
    text-decoration: none;
}

.todas-noticias .card{
    border:0;
    border-radius: 60px 60px 60px 0px;
    background-color: transparent;
}

.todas-noticias .card:hover{
      background-color: #ffffff;
      box-shadow: 0 0 15px 3px #2467EC2e;

}
.todas-noticias .card img{
    border:0;
    border-radius: 60px 60px 60px 0px;
}

.todas-noticias .topo-noticia-destaque .badge{
    border-radius: 30px 30px 30px 0px;
    padding: 10px;
}
.todas-noticias .topo-noticia-destaque .data-postagem{
    font-size: 16px;
}

.todas-noticias h5{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
    color: #050030;   
}

.todas-noticias h4{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #050030;   
}

.todas-noticias p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    color: #785aa2;
    
}
.n-mobile{
        padding: 0;
    }
    
@media only screen and (max-width: 991px) {
    .n-mobile{
        padding: 5px;
    }
}
.espacamento-lateral{
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 991px) {
    .espacamento-lateral{
    padding-left: 10px;
    padding-right: 10px;
    }
}
.topo-noticia-destaque, h4{
    padding-left: 5px;
    padding-right: 5px;
}
/* Noticias */

/* NOTICIAS UNICAS*/
.titulo-post{
   font-family: 'Mplusrounded1c', sans-serif;
   font-weight: 700;
   padding: 20px 0px 20px 0px;
   border-radius: 60px 60px 0px 0px;
   background-color: #785aa2;
   color:#ffffff;
   text-align: center;
}

.categoria-post{
    padding: 10px;
}
.categoria-post .badge{
    border-radius: 30px 30px 30px 0px;
    padding: 17px;
}
.categoria-post .data-post{
    border-radius: 30px 30px 30px 0px;
    padding: 10px;
    color:#785aa2;
}
.img-post img{
    max-width: 100%;
    border-radius: 0px 0px 60px 0px;
}

.subtitulo-post{
   font-family: 'Mplusrounded1c', sans-serif;
   font-weight: 600;
   color:#050030;
   padding-top: 15px;
}
.texto-post{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 2;
    color: #575757;
    font-weight: 400;
    text-align: justify;
}
.titulo-relacionadas{
   font-family: 'Mplusrounded1c', sans-serif;
   font-weight: 700;
   padding: 20px 0px 20px 0px;
   border-radius: 60px 60px 0px 0px;
   background-color: #2467EC;
   color:#ffffff;
   text-align: center;
}
.titulo-relacionadas h6{
    vertical-align: middle;
    font-size: 25px;
    padding-top: 5px;
}
.post-unico .sticky-top{
    top: 60px;
}
.relacionadas{
    padding: 5px;
    background-color:#ffffff;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 0 20px 3px #2467EC2e;
}
    .relacionadas li{
        font-size: 14px;
        padding-bottom: 15px;
    }
    .relacionadas a{
        text-decoration: none;
        color: #050030;
        font-weight: 500;
    }
    .relacionadas a:hover{
        text-decoration: none;
        color: #2467EC;
    }
    
    .relacionadas ul {
  list-style-image: url("../imagens/icones/newspaper.png");
  list-style-position: inside;
   padding: 5px;
}
/* NOTICIAS UNICAS*/

/* Associe-se*/
.titulos-associe-se{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
}
.paragrafo-associe-se{
    padding-top: 15px;
    font-size: 18px;
}

.associado-fncc .card{
    border-radius: 60px 60px 60px 0px;
    border: none;
   
}
.letra-destaque{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal;
}
.c1{
    background-color: #2467EC2e;
     box-shadow: 0 0 15px 3px #2467EC2e;
}
.c2{
    background-color: #785aa22e;
     box-shadow: 0 0 15px 3px #785aa22e;
}
.c3{
    background-color: #FFD70F2e;
     box-shadow: 0 0 15px 3px #FFD70F2e;
}
.c4{
    background-color: #0500302e;
     box-shadow: 0 0 15px 3px #0500302e;
}

.contato-associe-se h5{
    color:#785aa2;
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 22px;
}
.contato-associe-se h6{
    color:#785aa2;
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 25px;
}

.contato-associe-se a{
        text-decoration: none;
        color: #2467EC;
    }
    
    .form-associe-se{
         background-color: #050030;
         border-radius: 60px 60px 60px 0;
         padding: 15px;
         box-shadow: 0 0 15px 3px #2467EC2e;
         position: relative;
         z-index: 1;
         overflow: hidden;
    }
    .form-associe-se input{
        border-radius: 20px 20px 20px 20px;
        background-color: #ffffff;
    }
    .form-associe-se input:hover{
        box-shadow: none;
        outline: none;
    }
    .todos-contatos-associe-se{
        background-color: #fafafa;
         border-radius: 60px 60px 60px 0;
         padding: 15px;
         box-shadow: 0 0 15px 3px #2467EC2e;
         position: relative;
         z-index: 1;
         overflow: hidden;
    }
    #img-direita{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 30%;
    max-width: 90px;
    }
    #img-esquerda{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 30%;
    max-width: 85px;
    }
/* Associe-se*/

/* Contate-nos */
.contate-nos h2{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 35px;
}
.contate-nos h5{
    font-family: 'Mplusrounded1c', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 25px;
}

.contate-nos p, .contate-nos .rede-social{
    padding-left: 25px;
}
.contate-nos i{
    color: #2467EC;
}

.contate-nos .rede-social i{
    color:#ffffff;
}
.contate-nos a{
    text-decoration: none;
    font-size: 20px;
   color:#785aa2;
}
.fundo-contatos{
    border-radius: 60px 60px 60px 0;
         padding: 20px;
         box-shadow: 0 0 15px 3px #2467EC2e;
         position: relative;
         z-index: 1;
         overflow: hidden;
         background-color: #ffffff;
}
#img-direita-contato{
    position: absolute;
    right: -50px;
    bottom: 0px;
    z-index: -1;
    width: 50%;
    max-width: 200px;
    }
    
    .fundo-contatos2{
    border-radius: 60px 60px 60px 0;
         padding: 20px;
         box-shadow: 0 0 15px 3px #2467EC2e;
         position: relative;
         z-index: 1;
         overflow: hidden;
         background-color: #ffffff;
}
#img-direita-contato2{
    position: absolute;
    right: -50px;
    bottom: 0px;
    z-index: -1;
    width: 60%;
    max-width: 200px;
    }
    #img-esquerda-contato2{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 50%;
    max-width: 124px;
    }
    .linha-endereco{
        background-color: #ffffff;
         border-radius: 60px 60px 60px 0;
         padding: 20px;
         box-shadow: 0 0 15px 3px #2467EC2e;
         position: relative;
         overflow: hidden;
         z-index: 1;
    }
    
    
     #img-esquerda-contato3{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 50%;
    max-width: 170px;
    }
/* Contate-nos */