/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 de mar. de 2023, 22:18:20
    Author     : BEMK
*/

.topo-telas{
    min-height: 150px;
    background-image: url("../imagens/home/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.topo-telas .row{
    min-height: 150px;
}


.titulo-topo{
    font-weight: 700;
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
}

/*  Pagina Associadas */
.cards-associadas{
    margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
    .cards-associadas{
    margin-bottom: 15px;
}
}
.associadas .card{
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 0 2px 1px #2467EC2e;
    border:none;
}
@media only screen and (max-width: 768px) {
    .associadas .card{
    border-radius: 10px;
    min-height: 160px;
    box-shadow: 0 0 2px 1px #2467EC2e;
    border:none;
    }
}
.associadas .card img{
    width: 100%;
    max-width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    border-radius: 10px;
    background-color: #ffffff;
}

.associadas .card:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .5s ease;
    border: 1px solid #2467EC2e;
    border-radius: 10px;
}

.nome-associada{
    background-color: #f7f7f7;
    position: absolute;
    bottom: -20px;
    width: 80%;
    left: 10px;
    right: 10px;
    padding: 15px 10px 5px 10px;
    text-align: center;
    width: calc(100% - 20px);
    border-radius: 15px;
    background-color: #e7ebf3;
    color:#050030;
    box-shadow: 0 0 2px 1px #2467EC2e;
}

.card:hover .nome-associada{
    background-color: #2467EC;
    box-shadow: 0 0 2px 1px #2467EC2e;
    color:#ffffff;
}

/*  Pagina Associadas */

/*  Pagina Servicos */
#card-normal-1 .card , #card-normal-2 .card, #card-normal-3 .card, #card-normal-4 .card, #card-normal-5 .card{
    border-radius: 10px;
    border:none;
    box-shadow: 0 0 10px rgba(36, 103, 236,.3);
    
}

.item-servicos #card-hover-1, .item-servicos #card-hover-2, .item-servicos #card-hover-3, .item-servicos #card-hover-4, .item-servicos #card-hover-5{
    background: #ffffff;
    padding: 20px 20px;
    box-shadow: 0 0 70px rgba(36, 103, 236,.3);
    min-width: 370px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -1%;
    right: 50%;
    transition: .3s;
    z-index: 11;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
}
.item-servicos .card:hover #card-hover-1, .item-servicos .card:hover #card-hover-2 , .item-servicos .card:hover #card-hover-3, .item-servicos .card:hover #card-hover-4, .item-servicos .card:hover #card-hover-5{
    visibility: visible;
    opacity: 1;
    min-width: 370px;
    min-height: 100%;
    
}

.item-servicos .img-servico{
    background-color: #FFD70F;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    box-shadow: 0 0 4px 2px #2467EC2e;
}

.item-servicos img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 50px;
    transition: 0.4s;
}

.item-servicos:hover img{
    left: 10px;
    transition: 0.4s;
}
/*  Pagina Servicos */

