body{
    font-family: 'Exo', sans-serif;
    color:#050030;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fafafa;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #050030;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #785aa2;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #785aa2;
}


.conteudo-tela{
    margin-top: 0;
}


@media only screen and (max-width: 991px) {
    .conteudo-tela{
        margin-top: 0;
    }
}

.banner{
    min-height: 350px;
    background-color: #050030;
    background-image: url("../imagens/home/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 10%;
}

@media only screen and (max-width: 991px) {
    .banner{
        min-height: 300px;
        background-color: #e7ebf3;
        background-image: url("../imagens/home/banner.webp");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 20% 50%;
    }
}

.frase-efeito h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 15px;
    color: #ffffff;
}

.frase-efeito h4{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    .frase-efeito h1{
        padding-top: 10px;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        padding-bottom: 10px;
    }
}


@media only screen and (max-width: 991px) {
    .frase-efeito h4{
        text-align: center;
        font-size: 20px;
    }
}

.tachado{
    border-radius: 10px;
    padding: 5px;
    color:#FFD70F;
}

.titulo-servicos{
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}

.desc-servicos a{
    text-decoration: none;
    color:#050030;
}
#servicos-home{
    margin-top: -100px;
}
@media only screen and (max-width: 991px) {
    #servicos-home{
        margin-top: -115px;
    }
}
#servicos-home .card{
    background-color: #ffffff;
    border-radius: 30px 30px 30px 0px;
    box-shadow: 0 3px 3px 0px #2467EC;
}

#servicos-home .card:hover{
    background-color: #2467EC;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #2467EC;
    border:none;
}

#servicos-home .card:hover h5{
    color: #ffffff;
}

#servicos-home .card-img-top{
    width: 60px;
    height: 60px;
}
#servicos-home h5{
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
}

@media only screen and (max-width: 991px) {
    #servicos-home h5{
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
    }
}

.servicos-item .card{
    min-height: 210px;
}

@media only screen and (max-width: 991px) {
    .servicos-item .card{
     min-height: 190px;
}
}


.servicos-item{
    padding: 5px;
}


.modal-servicos .modal-header{
    background-color: #785aa22e;
}

.modal-servicos p{
    font-size: 18px;
    font-family: 'Popins', sans-serif;
}

.espacamento{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .espacamento{
    padding-top: 10px;
    padding-bottom: 10px;
}
}


.titulo-secao{
    font-size: 35px;
}

@media only screen and (max-width: 991px) {
    .titulo-secao{
    font-size: 25px;
}
}


#quem-somos p, #posts p {
    text-align: justify;
}

@media only screen and (max-width: 991px) {
    .alinhamento-centro{
        text-align: center;
    }
}

.btn-padrao{
    background-color: #050030;
    color:#FFD70F;
    border-radius: 30px 30px 30px 0px;
    
}
.btn-padrao:hover{
    background-color: #785aa2;
    color:#ffffff;
}

#representatividade .card{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0px #2467EC;
    border-radius: 30px 30px 30px 0px;
}


#representatividade .card-img-top{
    width: 60px;
    height: 60px;
}
#representatividade h5{
    font-size: 20px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 991px) {
    #representatividade h5{
        font-size: 18px;
        margin-bottom: -2px;
    }
}
#representatividade p{
    font-size: 13px;
}

@media only screen and (max-width: 991px) {
    #representatividade p{
        font-size: 14px;
    }
}

.servicos-banner img{
    height: 35px;
    width: 35px;
}

#posts{
    background-color: #F6F8FB;
    background-image: url("../imagens/home/noticias.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#posts a{
    text-decoration: none;
}
#posts .card{
    font-family: 'Releway', sans-serif;
    border:none;
    box-shadow: 0 0px 5px 0px #2467EC;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 0px;
    text-decoration: none;

}

#posts .card-img-top{
    padding-bottom: 5px;
}

#posts img{
    border-radius: 30px 30px 0px 0px;
}

#posts .card-body{
    background-color: #ffffff;
}
#posts h5 {
    color:#050030;
    font-size: 20px;
}

#posts p {
    color:#575757;
    font-size: 16px;
}

#posts .card-footer{
    background-color: transparent;
    border-top: 2px solid #785aa22e;
}

.postado{
    color: #785aa2;
    background: #785aa22e;
    border-radius: 30px 30px 30px 0px;
    padding: 5px 10px;
    font-size: 16px;
}

.sec-line-wrap {
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 30px 0 30px 0;
}

.sec-line {
    background-color: #785aa2;
    flex: 1;
    height: 2px;
}
.sec-line-wrap .sec-title2 {
    margin: -0.5em 0 -0.4em 0;
}

.sec-title2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: -0.3em 0 22px 0;
    color: #2467EC;
    font-family: 'Poppins', sans-serif;
}


.owl-dots, .owl-nav{
    visibility: hidden;
}

.btn-group{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 75px;
    text-align: center;
    padding: 10px 10px;
    line-height: 1;
}

#diretoria .card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border:none;
    box-shadow: 0 0 2px 1px #2467EC2e;
    border-radius: 60px 60px 60px 0px;
}
#diretoria .card-body{
    z-index: 10; 
    background-color: #fafafa;
}
#diretoria .card .btn-group{
    visibility: hidden;
}

#diretoria .card:hover .card-body{
    background-color: #e7ebf3;
}

#diretoria .card:hover .btn-group{
    visibility: visible;
}

#diretoria .card img{
    width: 100%;
    max-width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#diretoria .card:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
footer a{
    text-decoration: none;
    color:#ffffff;
}

.logo-cooperativas{
    padding: 5px;
}

.logo-cooperativas .card{
    border: none;
}

.rede-social .bi-facebook{
    background-color: #1877f2;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
}

.rede-social .bi-instagram{
    background-color: #F64664;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
}
.rede-social .bi-linkedin{
    background-color: #0E76A8;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
}
.rede-social .bi-youtube{
    background-color: #ff0000;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
}

.rede-social .bi:hover{
    background-color: #FFD70F;
    color:#785aa2;
}